.header-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 3;
  font-weight: bold;
}


.header-item-user{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 1;
    font-size: 12px;
    font-weight: bold;
    margin-left: 770px;
}